.container {
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 40px;
}

body {
  background-color: #f4f3ee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  flex-direction: column;
}

h1 {
  margin: 0 0 0 50px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 0 #463f3a;
  font-size: 4rem;
  color: #e0afa0;
}


button {
  display: flex;
  margin: 30px auto 0 auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #463f3a75;
  border: 2px solid  #a8a6a5;
}

button:hover{
  background-color: #5c5856;
  color: white;
}


p {
  font-size: 1rem;
  color: #463f3a;
  font-family: 'Press Start 2P', cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 5%;
  color: #bcb8b1;
  text-align: center;
  font-family: 'Red Hat Mono', monospace;

}

#winner{
  font-size: 1.5rem;
  color: #c73535;
  font-family: 'Press Start 2P', cursive;
}